body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

.main_div {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

td {
    font-size: 10pt;
}

th {
    font-size: 10pt;
}

.id {
    display: none;
}

.menu {
    margin-top: 20px;
}

h4 {
    text-align: center;
    margin: 20px 0 20px 0;

}

#numberGroup {
    text-align: center;
}

td.student {
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    font-size: 10pt;
}


button {
    margin: 5px 5px 5px 5px;
}

#optionsOfMenu {
    margin-left: 30%;
    margin-right: 30%;
}