body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

.menu
{
    text-align: center;
}

.main_div {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

td {
    font-size: 10pt;
}

th {
    font-size: 10pt;
}

.id {
    display: none;
}

.menu {
    margin-top: 20px;
}

h4 {
    text-align: center;
    margin: 20px 0 20px 0;

}

#numberGroup {
    text-align: center;
}

td.name {
    width: 300px;
}


button {
    margin: 5px 5px 5px 5px;
}

#optionsOfMenu {
    margin-left: 30%;
    margin-right: 30%;
}

a.index {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}
a.index:hover {
    background: steelblue;
    box-shadow: 0 15px 20px rgba(29, 98, 229, 0.4);
    color: white;
    transform: translateY(-7px);
}

#response {
    width: 100px;
    padding: 20px;
    border-radius: 8px;
    background: #ffffff;
    margin: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}