<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet-mapping>
        <servlet-name>insertStudent</servlet-name>
        <url-pattern>/jsp/insertStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertStudent</servlet-name>
        <servlet-class>servlets.student.insertStudent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteStudent</servlet-name>
        <url-pattern>/jsp/deleteStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteStudent</servlet-name>
        <servlet-class>servlets.student.deleteStudent</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>setNameStudent</servlet-name>
    <url-pattern>/jsp/setNameStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>setNameStudent</servlet-name>
        <servlet-class>servlets.student.setNameStudent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getGender</servlet-name>
        <url-pattern>/jsp/getGender</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getGender</servlet-name>
        <servlet-class>servlets.student.getGender</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>setGenderStudent</servlet-name>
        <url-pattern>/jsp/setGenderStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>setGenderStudent</servlet-name>
        <servlet-class>servlets.student.setGenderStudent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>setGroupStudent</servlet-name>
        <url-pattern>/jsp/setGroupStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>setGroupStudent</servlet-name>
        <servlet-class>servlets.student.setGroupStudent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>setBirthdayStudent</servlet-name>
        <url-pattern>/jsp/setBirthdayStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>setBirthdayStudent</servlet-name>
        <servlet-class>servlets.student.setBirthdayStudent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>selectStudentsByCriterion</servlet-name>
        <url-pattern>/jsp/selectStudentsByCriterion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectStudentsByCriterion</servlet-name>
        <servlet-class>servlets.student.selectStudentsByCriterion</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updateGroup</servlet-name>
        <url-pattern>/jsp/upGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateGroup</servlet-name>
        <servlet-class>servlets.group.updateGroup</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteGroup</servlet-name>
        <url-pattern>/jsp/deleteGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteGroup</servlet-name>
        <servlet-class>servlets.group.deleteGroup</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>insertGroup</servlet-name>
        <url-pattern>/jsp/insertGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertGroup</servlet-name>
        <servlet-class>servlets.group.insertGroup</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getTeachers</servlet-name>
        <url-pattern>/getTeachers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getTeachers</servlet-name>
        <servlet-class>servlets.group.getTeachers</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getNewTeachers</servlet-name>
        <url-pattern>/getNewTeachers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getNewTeachers</servlet-name>
        <servlet-class>servlets.group.getNewTeachers</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addTeacherForGroup</servlet-name>
        <url-pattern>/addTeacherForGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addTeacherForGroup</servlet-name>
        <servlet-class>servlets.group.addTeacherForGroup</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteTeacherForGroup</servlet-name>
        <url-pattern>/deleteTeacherForGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteTeacherForGroup</servlet-name>
        <servlet-class>servlets.group.deleteTeacherForGroup</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>selectAllGroup</servlet-name>
        <url-pattern>/jsp/selectAllGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectAllGroup</servlet-name>
        <servlet-class>servlets.group.selectAllGroup</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>selectStudent</servlet-name>
        <url-pattern>/selectStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectStudent</servlet-name>
        <servlet-class>servlets.group.selectStudent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>selectAllTeachers</servlet-name>
        <url-pattern>/selectAllTeachers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectAllTeachers</servlet-name>
        <servlet-class>servlets.teacher.selectAllTeachers</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updateTeacher</servlet-name>
        <url-pattern>/updateTeacher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateTeacher</servlet-name>
        <servlet-class>servlets.teacher.updateTeacher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteTeacher</servlet-name>
        <url-pattern>/deleteTeacher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteTeacher</servlet-name>
        <servlet-class>servlets.teacher.deleteTeacher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>insertTeacher</servlet-name>
        <url-pattern>/insertTeacher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertTeacher</servlet-name>
        <servlet-class>servlets.teacher.insertTeacher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getGroup</servlet-name>
        <url-pattern>/getGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getGroup</servlet-name>
        <servlet-class>servlets.teacher.getGroup</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getNewGroups</servlet-name>
        <url-pattern>/getNewGroups</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getNewGroups</servlet-name>
        <servlet-class>servlets.teacher.getNewGroups</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteGroupForTeacher</servlet-name>
        <url-pattern>/deleteGroupForTeacher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteGroupForTeacher</servlet-name>
        <servlet-class>servlets.teacher.deleteGroupForTeacher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addGroupForTeacher</servlet-name>
        <url-pattern>/addGroupForTeacher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addGroupForTeacher</servlet-name>
        <servlet-class>servlets.teacher.addGroupForTeacher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>example</servlet-name>
        <url-pattern>/example</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>example</servlet-name>
        <servlet-class>servlets.example</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>experimentSelect</servlet-name>
        <url-pattern>/experimentSelect</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>experimentSelect</servlet-name>
        <servlet-class>servlets.experimentSelect</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>searchGroups</servlet-name>
        <url-pattern>/jsp/searchGroups</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchGroups</servlet-name>
        <servlet-class>servlets.searchGroups</servlet-class>
    </servlet>

</web-app>