body {
    font-family: "Arial";
    font-size: 10pt;
}

.main_div {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#groups {
    border-collapse: collapse;
}

#groups_filter {
    margin-bottom: 10px;
}

td.groups {
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    font-size: 10pt;
}

th.groups {
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    font-size: 10pt;
}

.id {
    display: none;
}

td.groups:hover {
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    font-size: 10pt;
    background-color: #f0f0f0;
}

.menu {
    margin-top: 20px;
}

h4 {
    text-align: center;
}

#numberGroup {
    text-align: center;
}

hr {
    margin: 20px 0px 20px 0px;
}

#studentsOfGroup_filter {
    margin-bottom: 10px;
}

#studentsOfGroup {
    border-collapse: collapse;
}

#teachersOfGroup {
    border-collapse: collapse;
}

#teachersOfGroup_filter {
    margin-bottom: 10px;
}

td.student {
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    font-size: 10pt;
}

th.student {
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    font-size: 10pt;
}

td.teacher {
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    font-size: 10pt;
}

th.teacher {
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    font-size: 10pt;
}

button {
    margin: 5px 5px 5px 5px;
}

#optionsOfMenu {
    margin-left: 30%;
    margin-right: 30%;
}